@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');

pre code {
  font-family: 'Roboto Mono', sans-serif;
  font-size: .8em;
  background-color: #fafafa;
  border: #fafafa;
}
div.sourceCode {
  background-color: #fafafa;
}